
/* merubah warna background dropdown */
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #343A40;
}
.navbar-expand-sm{
  font-size: 18px;
  word-spacing: 5px;
}
/* merubah warna hover */
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #fff;
}

a.dropdown-item{
  color: white;
}

.form-input{
  padding: 20px;
}

.form-input > .table-group{
  width: 100%;

}

.form-group > .input-barang{
  width: 480px;
}
.form-group > .input-harga{
  width: 200px;
}
.form-group > .input-kategori{
  width: 170px;
}
.input-pj{
  width: 20px;
}

.btn-submit{
  margin-left: 45%;
}

.add-kategori{
  width: 20%;
  position: absolute;
  left: 40%;
}

.pembelian{
  position: absolute;
  left: 75%;
  bottom: 10%;
  font-size: 70px;
  color: grey;
  z-index: 0;
  opacity: 0.4;
}
.card-body-custom{
  background-image: url(../img/dasboard-img.jpg);
  background-size: 100%;
}

.chart-category{
  width: 100%;
}

.custom-container{
  width: 65%;
}

.custom-container2{
  width: 65%;
  position: relative;
  left: 17%;
}

.custom-setprofile{
  width: 30%;
}

.pass-input{
  width: 10%;
}


@media only screen and (max-width: 600px) {

}


textarea {
    overflow-y: scroll;
    height: 250px;

}

.table-news{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
