
/* merubah warna background dropdown */
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #343A40;
}
.navbar-expand-sm{
  font-size: 18px;
  word-spacing: 5px;
}
/* merubah warna hover */
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #fff;
}

a.dropdown-item{
  color: white;
}

.form-input{
  padding: 20px;
}

.form-input > .table-group{
  width: 100%;

}

.form-group > .input-barang{
  width: 480px;
}
.form-group > .input-harga{
  width: 200px;
}
.form-group > .input-kategori{
  width: 170px;
}
.input-pj{
  width: 20px;
}

.btn-submit{
  margin-left: 45%;
}

.add-kategori{
  width: 20%;
  position: absolute;
  left: 40%;
}

.pembelian{
  position: absolute;
  left: 75%;
  bottom: 10%;
  font-size: 70px;
  color: grey;
  z-index: 0;
  opacity: 0.4;
}
.card-body-custom{
  background-image: url(../img/dasboard-img.jpg);
  background-size: 100%;
}

.chart-category{
  width: 100%;
}

.custom-container{
  width: 65%;
}

.custom-container2{
  width: 65%;
  position: relative;
  left: 17%;
}

.custom-setprofile{
  width: 30%;
}

.pass-input{
  width: 10%;
}

.history{
  position:absolute;
  left:85%;
  top:1.5%;
}

.paket-pc{
  position: absolute;
  left:36%;
  top:17.8%;
}

.space{
  position: relative;
  left: 10%;
}

.inputinv{
  position:absolute;
  top:21%;
  opacity: 0;
}

.grandtotal{
  margin-left: 80%;
  margin-top:1%;
}



textarea {
    overflow-y: scroll;
    height: 250px;

}

.table-news{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.kategori{
  position: absolute;
  left:42.6%;
  top:17.8%;
}


@media only screen and (max-width: 600px) {

  .pembelian{
    position: absolute;
    left: 68%;

  }

  .custom-container{
    width: 100%;
  }

  .history{
    position:absolute;
    left:67%;
    top:1.5%;
  }

  .tgl-beli{
    position: absolute;
    top: 20%;
  }

  .table-group{
    width: 100%;
  }

  .grandtotal{
    opacity: 0;
  }

  .hide{
    opacity: 0;
  }

  .btn-submit{
    margin-left: 40%;
  }

  .paket-pc{
    position: absolute;
    left:76%;
    top:35.9%;

  }
  .input-jumlahdata{
    width: 60%;
  }

  .btn-tambah{
    position: absolute;
    right: 45%;
    bottom: 60%;
  }

  .kategori{
    position: absolute;
    left:54%;
    top:35.9%;
  }


}
